In [2]:
import numpy as np

In [3]:
p = (4,5) # p é uma tupla
x,y = p
print ("Valor de x:", x," e valor de y:",y)

Valor de x: 4  e valor de y: 5

In [4]:
data = ['ACME', 50, 91.1,(2012,12,21)] # data é uma lista
name, shares, price, date = data

In [5]:
name, shares, price, date

('ACME', 50, 91.1, (2012, 12, 21))

In [6]:
name, shares, price, (year,mon,day) = data

In [7]:
year

2012

#### utilizando uma variavel descartavel

In [8]:
data = ['ACME', 50, 91.1,(2012,12,21)] # data é uma lista
_,shares,price,_=data

In [9]:
shares

50

#### desempacotando elementos de iteráveis de tamanho arbitrário

In [10]:
# ex. de uma grade de notas em que será descartada a primeira e ultima nota, porem não sabemos a quantidade de notas,
# daí utilizamos o * (coringa)
def drop_first(grades):
    first,*middle,last = grades
    return np.mean(middle)

In [11]:
x = [10,1,2,3,70]
drop_first(x)

2.0

In [12]:
*trailing, current = [10,6,7,78,6,5,1]
trailing

[10, 6, 7, 78, 6, 5]

In [13]:
current

1

In [14]:
line = 'nobody:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false'
uname, *fields, homedir, sh = line.split(':')

In [15]:
uname

'nobody'

In [16]:
fields

['*', '-2', '-2', 'Unprivileged User']

In [17]:
homedir

'/var/empty'

In [18]:
sh

'/usr/bin/false'

##### Encontrando N maiores numeros através da função heapq (trabalhando com dicionarios)

In [19]:
import heapq

In [20]:
portfolio = [{'name': 'IBM', 'shares':100,"price": 91.1},
            {'name': 'AAPL', 'shares':50,"price": 543.22},
            {'name': 'ACME', 'shares':75,"price": 115.65}]
cheap = heapq.nsmallest(1,portfolio, key = lambda s: s["price"])
expensive = heapq.nlargest(2,portfolio, key = lambda s: s["price"])

In [21]:
type(portfolio)

list

In [30]:
print ("Os 2 mais baratos =", cheap)
print ("Os 2 mais caros = ", expensive)
type (cheap)

Os 2 mais baratos = [{'name': 'IBM', 'shares': 100, 'price': 91.1}]
Os 2 mais caros =  [{'name': 'AAPL', 'shares': 50, 'price': 543.22}, {'name': 'ACME', 'shares': 75, 'price': 115.65}]

list

In [23]:
a = {'x':1,"y":2,"z":3}
b = {"w": 10, "x":11, "y":2}
# Encontra chaves em comuns
print(a.keys() & b.keys())
print(a.values())
type(a)

{'x', 'y'}
dict_values([1, 2, 3])

dict

In [24]:
# Encontra chaves que não estão em b
a.keys() - b.keys()
a.

{'z'}

In [25]:
# Encontra pares (key,value) em comum
a.items() & b.items()

{('y', 2)}

In [32]:
from collections import defaultdict

In [34]:
d = defaultdict(list)
d['a'].append(1)

In [36]:
d

defaultdict(list, {'a': [1]})

In [41]:
d['a'].append(2)
d

defaultdict(list, {'a': [1, 2]})

In [43]:
d['b'].append(10)
d

defaultdict(list, {'a': [1, 2], 'b': [10]})

In [44]:
import json
json.dumps(d)

'{"a": [1, 2], "b": [10]}'

In [75]:
from operator import itemgetter
d[0]=120
print(d.items())

dict_items([('a', [1, 2]), ('b', [10]), (0, 120), (1, []), (2, [])])

### fazendo calculos em dicionarios

In [60]:
prices = {'ACME': 45.23,'AAPL':612.78,
         'IBM':205.55,'HPQ':37.2,'FB':10.75}

In [62]:
min_price = min(zip(prices.values(),prices.keys()))
max_price = max(zip(prices.values(),prices.keys()))
prices_sorted = sorted(zip(prices.values(),prices.keys()))
print (min_price)
print (max_price)
print (prices_sorted)

(10.75, 'FB')
(612.78, 'AAPL')
[(10.75, 'FB'), (37.2, 'HPQ'), (45.23, 'ACME'), (205.55, 'IBM'), (612.78, 'AAPL')]

In [64]:
min_values = prices[min(prices,key=lambda k: prices[k])]
print(min_values)

10.75

### criando dicionario que é subconjunto de outro dicionario

In [76]:
prices

{'AAPL': 612.78, 'ACME': 45.23, 'FB': 10.75, 'HPQ': 37.2, 'IBM': 205.55}

In [79]:
# cria um dicionario com os valores maiores que 200
p1 = {key:value for key, value in prices.items() if value>200}
print (p1)

{'AAPL': 612.78, 'IBM': 205.55}

In [81]:
# cria um dicionario no qual as empresas são de tecnologia
tec_name = {'AAPL','ACME','TNAC'}
p2 = {key:value for key, value in prices.items()if key in tec_name}
print(p2)

{'ACME': 45.23, 'AAPL': 612.78}